<html>
    <a href="{% url 'ajout_media' %}">Ajouter un média</a>
    <a href="{% url 'liste_emprunteurs' %}">Voir les membres</a>
    
    <h1>Liste des livres</h1>
    <ul>
        {% for livre in livres %}
            <li>
                <p>Titre :{{ livre.name }}; </p>
                <p>Auteur : {{ livre.auteur }};</p>
                <p>
                    {% if livre.disponible %}
                        Disponible
                    {% else %}
                        Non disponible
                    {% endif %}
                    {% if livre.emprunteur %}
                        <p>Emprunteur: {{ livre.emprunteur }};</p>
                    {% endif %}
                </p>
                <p>Date d'emprunt: {{ livre.dateEmprunt|date:"d/m/Y" }}</p>
                {% if livre.disponible %}
                    <a href="{% url 'emprunt_livre' livre.id %}" >Emprunter</a>
                {% else %}
                    <a href="{% url 'retour_livre' livre.id %}">Retourner le livre</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h1>Liste des DVD</h1>
    <ul>
        {% for dvd in dvds %}
        <li>
            <p>Titre :{{ dvd.name }}; </p>
            <p>Réalisateur : {{ dvd.realisateur }};</p>
            {% if dvd.disponible %}
                Disponible
            {% else %}
                Non disponible
            {% endif %}
            {% if livre.emprunteur %}
                <p>Emprunteur: {{ livre.emprunteur }};</p>
            {% endif %}
            <p>Date d'emprunt: {{ dvd.dateEmprunt|date:"d/m/Y" }}</p>
            {% if dvd.disponible %}
                <a href="{% url 'emprunt_dvd' dvd.id %}" >Emprunter</a>
            {% else %}
                <a href="{% url 'retour_dvd' dvd.id %}">Retourner le dvd</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h1>Liste des CD</h1>
    <ul>
        {% for cd in cds %}
        <li>
            <p>Titre :{{ cd.name }}; </p>
            <p>artiste : {{ cd.artiste }};</p>
            {% if cd.disponible %}
                Disponible
            {% else %}
                Non disponible
            {% endif %}
            {% if livre.emprunteur %}
                <p>Emprunteur: {{ livre.emprunteur }};</p>
            {% endif %}
            <p>Date d'emprunt: {{ cd.dateEmprunt|date:"d/m/Y" }}</p>
            {% if cd.disponible %}
                <a href="{% url 'emprunt_cd' cd.id %}" >Emprunter</a>
            {% else %}
                <a href="{% url 'retour_cd' cd.id %}">Retourner le dvd</a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <h1>Liste des jeux de plateau</h1>
    <ul>
        {% for jeu in jeux %}
            <li>
                <p>Titre : {{ jeu.name }}</p>
                <p>Créateur : {{ jeu.createur }}</p>
            </li>
        {% endfor %}
    </ul>
</html>